<!-- Password setting section --> 
	<form class="form-horizontal" ng-submit="changePassword()">
		<div class="form-group">
			<label for="old_password">Old Password</label>
			<input type="password" name="old_password" id="old_password" ng-model="password.old_password" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="new_password">New Password</label>
			<input type="text" name="new_password" id="new_password" ng-model="password.new_password" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="confirm_newPassword"> Confirm New Password</label>
			<input type="password" name="confirm_newPassword" id="confirm_newPassword" ng-model="password.confirm_newPassword" class="form-control" required>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-danger">Change Password</button>
		</div>
	</form>